:root {
  /* Fonts */
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* Text color */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --text-logo-color: #000000;
  --wite-text-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-text-color: #2196f3;
  /* Background-color */
  --accent-color: #2196f3;
  --accent-button-color: #188ce8;
  --wite-background-color: #ffffff;
  --overlay-background-color: rgba(33, 150, 243, 0.9);
  --button-color: #f5f4fa;
  --accent-background-color: #2f303a;
  --section-background-color: #eeeeee;
  --alt-section-color: #e5e5e5;
  --team-background-color: #f5f4fa;
  --social-icon-background-color: rgba(255, 255, 255, 0.1);

  /* Line color */
  --header-line-color: #ececec;

  /* Icon color*/
  --primary-icon-color: #afb1b8;
  --second-icon-color: #ffffff;
}
